<div class="card1">
  <div class="img-crop2-img h-full w-3/4 bg-cover bg-no-repeat">
    <div class="img-crop2-img-bg h-full"></div>
  </div>
  <div class="column">
    <div class="row">
      <span></span>
      <h1>sample content title of the year</h1>
    </div>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem, sed
      ducimus quaerat voluptatibus assumenda officia quae eveniet praesentium,
      vel incidunt voluptate corporis, mollitia non laborum. Cumque ratione
      sequi totam rem!
    </p>
    <p></p>
  </div>
</div>

<div class="card2">
  <div class="info">
    <h1>Sample title cool</h1>
    <div class="paragraph">
      <span></span>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut a
        aspernatur ipsum magnam tempore. Ut voluptatem aut odit quibusdam
        aspernatur perferendis, dolorum et ipsum, a harum saepe totam quidem
        cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
        quisquam tenetur laudantium rerum consectetur iure dolorem dicta!
      </p>
    </div>
    <a href=""
      ><p>Button</p>
      <mat-icon fontIcon="arrow_right_alt"></mat-icon
    ></a>
  </div>
  <div class="img">
    <img src="/assets/images/cube1.png" alt="" />
  </div>
</div>

<div class="card3">
  <div class="img">
    <img src="/assets/images/cube2.jpg" alt="" />
  </div>
  <div class="info">
    <div class="title">
      <h1>Header who</h1>
      <span></span>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magnam
      nemo, repellat nam possimus quibusdam optio non! Minima aliquid omnis
    </p>
    <div class="btns">
      <a href=""
        ><p>Button</p>
        <mat-icon fontIcon="arrow_right_alt"></mat-icon
      ></a>
      <a href=""
        ><p>Button</p>
        <mat-icon fontIcon="arrow_right_alt"></mat-icon
      ></a>
    </div>
  </div>
</div>
