<div class="landing">
  <div class="hero">
    <h1>--------- Sample content wehooo</h1>
    <img src="/assets/logos/logo.png" alt="logo" />
  </div>
  <div class="content">
    <div class="column">
      <h1>Sample</h1>
      <h1>Sample</h1>
      <h1>Sample</h1>
    </div>
    <div class="paragraph">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, a
        nemo. Exercitationem aliquid excepturi fuga aspernatur nihil ad corporis
        corrupti sapiente velit! Sint id maiores atque saepe, tempora earum?
        Optio?
      </p>
    </div>
    <div class="paragraph">
      <button>sample button</button>
    </div>
  </div>
</div>
