<div class="landing">
  <div class="hero">
    <div>
      <div class="row">
        <span></span>
        <h1>Sample content wehooo</h1>
      </div>
      <img src="/assets/logos/logo.png" alt="logo" />
      <h1>Moscow: {{ time }}</h1>
    </div>
    <div class="img-crop2-img">
      <div class="img-crop2-img-bg"></div>
    </div>
  </div>

  <div class="content">
    <div class="column">
      <h1>Sample</h1>
      <h1>Sample</h1>
      <h1>Sample</h1>
    </div>
    <div class="paragraph">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, a
        nemo. Exercitationem aliquid excepturi fuga aspernatur nihil ad corporis
        corrupti sapiente velit! Sint id maiores atque saepe, tempora earum?
        Optio?
      </p>
      <button>
        <p>sample button</p>
        <mat-icon fontIcon="arrow_right_alt"></mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="section2">
  <div class="alt">
    <h1>Sample</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem animi
      odit aspernatur quos sunt cum omnis sit non, nihil culpa impedit doloribus
      nesciunt perferendis esse magni quo qui. Molestias, quam.
    </p>
    <div class="btns">
      <button style="margin-left: 0">
        <p>Sample batton</p>
        <mat-icon matSuffix>arrow_right_alt</mat-icon>
      </button>
      <button>
        <p>Sample batton</p>
        <mat-icon matSuffix>arrow_right_alt</mat-icon>
      </button>
    </div>
  </div>
  <div><img src="/assets/images/image1.png" alt="abstract" /></div>
</div>
