<div class="header">
  <img src="assets/logos/logo-black.png" alt="logo" />
  <div class="content">
    <div class="top">
      <div class="container grey">
        <p>sample</p>
        <p>sample</p>
        <p>sample</p>
        <p>sample</p>
      </div>
    </div>
    <div class="bottom">
      <input type="text" />
      <div class="container">
        <p>sample</p>
        <p>sample</p>
        <p>sample</p>
        <p>sample</p>
        <p>sample</p>
      </div>
    </div>
  </div>
</div>
