<!--
Custom Header
    
<div class="header">
  <div class="content">
    <a RouterLink="/">Home</a>
    <a RouterLink="/">Buy</a>
    <a RouterLink="/">About</a>
    <a RouterLink="/">Copium</a>
    <div class="spacer"></div>
    <a RouterLink="/">Login</a>
  </div>
</div>
 -->

<mat-toolbar class="navbar">
  <img src="/assets/logo" alt="logo">
  <a RouterLink="/">Home</a>
  <div class="spacer"></div>
  <a RouterLink="/">Login</a>
  <button mat-icon-button aria-label="share button">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
