<div class="footer">
  <div class="content">
    <div class="row">
      <img src="/assets/logos/logo.png" alt="" />
      <div class="row">
        <mat-icon fontIcon="home"></mat-icon>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="spacer"></div>
      <div class="row">
        <mat-icon fontIcon="phone"></mat-icon>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="row">
        <mat-icon fontIcon="mail"></mat-icon>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
    <span></span>
    <p>© 2022 Katta simen.j production</p>
  </div>
</div>
