<div class="box">
  <h1>Sample yoho</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis laudantium
    aspernatur laborum vero nam maiores ipsum? Ipsam ad quidem, enim magni nemo,
    praesentium accusamus necessitatibus quae asperiores eligendi libero illo!
  </p>
</div>

<mat-tab-group>
  <mat-tab label="Management"> <app-employees></app-employees></mat-tab>
  <mat-tab label="Economy"> <app-employees></app-employees></mat-tab>
  <mat-tab label="Sales"> <app-employees></app-employees></mat-tab>
</mat-tab-group>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile> </mat-grid-tile>

  <mat-grid-tile> </mat-grid-tile>

  <mat-grid-tile
    ><div class="background">
      <img src="/assets/logos/logo-black.png" alt="" /></div
  ></mat-grid-tile>

  <mat-grid-tile> </mat-grid-tile>
</mat-grid-list>
